@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding-bottom: 0px;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

#title {
    font-family: 'Anton', sans-serif;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #b70d23;
    color: white;
}

.formLogon {
    margin: 0 auto;
}